* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

body {
    background-image: url(../img/background.jpg);
}

.logo {
    margin: 20px auto 0;
    display: flex;
}

.logo img {
    width: 50%;
}

.image {
    display: flex;
}

.image img {
    width: 110%;
}